*{
	margin: 0; 
	padding: 0; 
}

body{
	background-image: url(img/body-backgroung.jpg); 
	font-family: 'Roboto', sans-serif;	
}
/*HEADER*/
.banner{
	position: absolute;
}

.back-icones{
	position: relative;
	top: 86px;
	width: 100%; 
	height: 125px; 
	background-color: rgba(0, 0, 0,  0.67);
}

.header-text{
	position: relative;
	color: #fff;
	left: 34px;
}

.bloc-text-2{
	margin-top: -28px;
    margin-left: -20px; 
}

.bloc-text-2 p{
	font-size: 22px;
	margin-left: -5px;	
}

.text-1{
	height: 29px;	
	width: 89px;	
	transform: rotate(-90deg);	
	color: #F0EAEA;	
	font-size: 23px;
	font-weight: 300;	
	margin-left: 47px;
    margin-top: 6px;
}

span{
	color: #F4D03F;
}
.text-2{
	color: #16A085; 
	font-size: 22px; 
	text-transform: uppercase;
}

.text-3{
	font-weight: 300;
	font-size: 15px; 
	color: #fff ! important;
}

.icones{
	position: fixed;
	top: 100px; 
	left: 10px; 
}

.icones img {
	width: 15px; 
	height: 15px; 	
	margin: 0px 0px 20px 20px;
}
/*FIN DU HEADER */

.first-row{
	position: relative;
	top: 100px;
}

.first-row .span-1, .span-3 {
	color: #F0EAEA;	
	font-size: 14px;	
}

.first-row .span-1{
	transform: rotate(-90deg);	
	margin-right: -12px;
	text-transform: uppercase;
	font-size: 10px;
}

.first-row .span-2, .span-4{
	text-transform: uppercase;
	font-size: 24px;	
}

.first-row .span-2{
	color: #16A085;	
}

.first-row .span-4{
	color: #F4D03F;;	
}

.second-row, .third-row{
	position: relative;
}

.second-row {
	top: 125px;
}

.third-row{
	top: 195px;
}

.second-row img, .third-row img{
	height: 282px;
    width: 281px;
	transform: rotate(90deg);	
	box-shadow: 7px 31px 41px 0 rgba(255,255,255,0.1);
}

.second-row p, .third-row p{
	color: #fff;
}

.line{
	margin-bottom: 19px;
    margin-top: -18px;
    height: 1px;
	width: 49px;	
	border: 1px solid #417505;
	background-color: #417505;
}

.background-info{
	 width: 281px;
	 height: 44px;
	 background-color: rgba(0,0,0,0.77);
	 font-size: 12px; 
}

.btn{
	color: #F0EAEA;	
	font-size: 13px;	
	height: 18px;	
	width: 57px;	
	background: linear-gradient(135.01deg, #F4D03F 0%, #16A085 100%);	
	box-shadow: 0 1px 5px 0 rgba(255,255,255,0.25);}
}

/*FOOTER*/
footer{
	height: 66px;	
	width: 100%;	
	background-color: rgba(0,0,0,0.67);
	border : 1px red solid;
}

