/*PAGE INDEX*/

*{
	margin: 0; 
	padding: 0; 
}

.index-background{
	background: url(img/body-backgroung.jpg) fixed; 
	font-family: 'Roboto', sans-serif;
}
/*HEADER*/
.banner{position: absolute;}

.back-icones{
	position: relative;
	top: 86px;
	width: 100%; 
	height: 125px; 
	background-color: rgba(0, 0, 0,  0.67);
}

.header-text{
	position: relative;
	color: #fff;
	left: 34px;
}

.bloc-text-2{
	margin-top: -28px;
    margin-left: -20px; 
}

.bloc-text-2 p{
	font-size: 22px;
	margin-left: -5px;	
}

.text-1{
	height: 29px;	
	width: 89px;	
	transform: rotate(-90deg);	
	color: #F0EAEA;	
	font-size: 23px;
	font-weight: 300;	
	margin-left: 47px;
    margin-top: 6px;
}

span{color: #F4D03F;}
.text-2{
	color: #16A085; 
	font-size: 22px; 
	text-transform: uppercase;
}

.text-3{
	font-weight: 300;
	font-size: 15px; 
	color: #fff ! important;
}

.icones{
	position: fixed;
	top: 100px; 
	left: -2px; 
}

.icones img {
	width: 15px; 
	height: 15px; 	
	margin: 0px 0px 20px 20px;

}
/*FIN DU HEADER */

.first-row{
	position: relative;
	top: 100px;
}

.first-row .span-1, .span-3 {
	color: #F0EAEA;	
	font-size: 14px;	
}

.first-row .span-1{
	transform: rotate(-90deg);	
	margin-right: -12px;
	text-transform: uppercase;
	font-size: 10px;
}

.first-row .span-2, .span-4{
	text-transform: uppercase;
	font-size: 24px;	
}

.first-row .span-2{color: #16A085;}

.first-row .span-4{color: #F4D03F;}

.bloc{padding-left: 68px;}

.second-row, .third-row{
	position: relative;
	padding:-left: 81px;
}

.second-row {
	top: 125px;
	animation-duration: 1s;
}

.third-row{
	top: 155px;
	animation-duration: 1s;
}

.second-row img, .third-row img{
	height: 282px;
    width: 281px;
	transform: rotate(90deg);	
	box-shadow: 7px 31px 41px 0 rgba(255,255,255,0.1);
}

.second-row p, .third-row p{
	color: #fff;
}

.line{
	margin-bottom: 19px;
    margin-top: -18px;
    height: 1px;
	width: 49px;	
	border: 1px solid #417505;
	background-color: #417505;
}

.background-info{
	 position: relative;
	 top : -44px;
	 left: -1px;
	 width: 283px;
	 height: 44px;
	 background-color: rgba(0,0,0,0.77);
	 font-size: 12px; 
	 display: flex;
}

.background-info p{
	font-family: 'Roboto', sans-serif;	
	padding: 5px;
}

.flex-shrink-1 {
	margin-top: 10px;
	margin-right: 10px;
}


.btn{
	color: #F0EAEA;	
	border: 1px solid #F4D03F;
	padding: 0px; 
	background: transparent;
	font-size: 13px;	
	height: 18px;	
	width: 57px;
	border-radius: 0px; 	
	box-shadow: 0 1px 4px 0 rgba(255,255,255,0.25);}

/*FOOTER*/
footer{
	background-color: rgba(0,0,0,0.67);
	width: 100%;
}
footer p {
	font-size: 9px;
	text-align: center;
	padding-top: 10px; 
	box-sizing: border-box;
}

footer .rs img, .help img{
	width: 20px; 
	height: 20px;
	transform: none;
	margin-right: 10px;
	margin-bottom: 10px;
}

/*MEDIA QUERIES*/

@media (min-width: 575px) { 
.header-text {left: 101px;}

.back-icones {
    top: 102px;
    height: 162px;
 }

 .icones {top: 127px;}

 .icones img {
    width: 18px;
    height: 25px;
}

.first-row {top: 183px;}

.text-1 {margin-top: 6px;}

.bloc-text-2 {margin-left: -20px;}

.bloc{padding-left: 141px;}

.second-row {top: 220px;}

.third-row {top: 208px;}

}

/***********/

@media (min-width: 767px) { 

/*HEADER*/
.back-icones{
	top: 171px;
	height: 188px;
 }

.icones {
    position: fixed;
    top: 179px;
 }

.icones img {
    width: 20px;
    height: 42px;
 }

.header-text {left: 82px;}

.text-1 {
    height: 28px;
    width: 115px;
    font-size: 28px;
    margin-left: 115px;
    margin-top: 53px;
 }

.bloc-text-2 {
    margin-top: 14px;
    margin-left: -15px;
 }

.bloc-text-2 p {
    font-size: 26px;
    margin-left: -5px;
 }

.text-3 {font-size: 17px;}

.text-2 {font-size: 30px;}
/*FIN HEADER*/

.bloc{padding-left: 81px;}

.second-row {top: 289px;}

.third-row {top: 306px;}

.first-row {
    position: relative;
    top: 253px;
 }

.first-row .span-2, .span-4 {font-size: 30px;}

 .first-row .span-1 {font-size: 14px;}

.first-row .span-1, .span-3 {font-size: 16px;}
}

/*FIN TABLETTE*/


@media (min-width: 992px) { 
.back-icones {height: 292px;}

.text-1 {
   width: 137px;
   font-size: 36px;
   margin-top: 11px;
  }

.bloc-text-2 p {font-size: 36px;}

 .bloc-text-2 {margin-top: -54px;}

.icones img {
    width: 27px;
    height: 70px;
 }

.icones {top: 190px;}

.first-row {top: 287px;}

.second-row {top: 344px;}

.third-row {top: 358px;}
}

/*DESKTOP*/
@media (min-width: 1024px) { 
.back-icones {height: 274px;}

 .icones {top: 187px;}

.text-1 {
    width: 190px;
    font-size: 47px;
    margin-top: 12px;
}

.bloc-text-2 p, .text-2 {
    font-size: 47px;
    line-height: 62px;
}

.bloc-text-2 {
    margin-top: -66px;
    margin-left: -34px;
}

.first-row {top: 304px;}

.second-row {top: 343px;}

.third-row {top: 348px;}

@media (min-width: 1200px) { 
.first-row {top: 470px;}

.second-row {top: 503px;}

.third-row {top: 540px;}
}

@media (min-width: 1440px) {
.first-row {top: 580px;}

.first-row .span-2, .span-4 {font-size: 50px;}

.second-row {top: 604px;}

.third-row {top: 625px;}
}

/*PAGE PRODUIT*/

.headerProduit{
	background: url(img/1.jpg) fixed; 
}
