/*PAGE INDEX*/
* {
	margin: 0; 
	padding: 0; 
}
a, a:hover {
	text-decoration: none;
	color: #fff;
}

.index-background{
	background: url(img/body-backgroung.jpg) fixed; 
	font-family: 'Roboto', sans-serif;
	color: #fff;
}

/*HEADER*/
.index-header{
	background: url('img/banner.jpg') fixed ;
	background-size: cover; 
	height: 300px; 
	display: flex; 
	align-items: center; 
}

.logo {
	width: 50px; 
	height: auto;
	border: 1px solid red; 
}

.back-icones{
	width: 100%; 
	height: 125px; 
	background-color: rgba(0, 0, 0,  0.67);
	display: flex;
	align-items: center;
}

.header-text{
	color: #fff;
	display: flex; 
	margin: 0 auto; 
}

.text-1{
	height: 29px;	
	width: 89px;
    margin-top: 1.3em;		
	color: #F0EAEA;	
	font-size: 1.45em;
	font-weight: 300;		
    transform: rotate(-90deg);
}

.bloc-text-2{margin-left: -1.25em;}

.bloc-text-2 p{font-size: 1.2em;}

span{color: #F4D03F;}

.text-2{
	color: #16A085; 
	font-size: 1.4em; 
	text-transform: uppercase;
}

.text-3{
	font-weight: 300;
	font-size: 0.95em; 
	color: #fff ! important;
}

.icones{
	top: 116px; 
	left: -2px; 
	position: absolute;
}

.icones img {
	width: 15px; 
	height: 15px; 	
	margin: 0px 0px 20px 20px;
}

.icones img:hover, footer i:hover{transform: translateY(-2px);}

.down{
	width: 100%; 
	height: 50px;
	margin-top: -46px;
}

.down img{
	width: 20px; 
	height: auto; 
	transform: rotate(-90deg);
	animation-duration: 1s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}
/*FIN DU HEADER */

.index-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 600px;
}

.first-row .span-1, .span-3 {
	color: #F0EAEA;	
	font-size: 0.875em;	
}

.first-row .span-1{
	transform: rotate(-90deg);	
	margin-right: -1em;
	text-transform: uppercase;
	font-size: 0.625em;
}

.first-row .span-2, .span-4{
	text-transform: uppercase;
	font-size: 1.5em;	
}

.first-row .span-2{color: #16A085;}

.first-row .span-4{color: #F4D03F;}

.second-row {animation-duration: 1s;}

/* CARROUSSEL */
.car_slide { padding: 15px; }

.car_img {
	display: flex;
	height: 400px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	align-items: flex-end;
}

.car_details {
	padding: 10px;
	width: 100%;
	color: white;
	background: rgba(0, 0, 0, 0.5);
}

.car_arrow {
	position: absolute;
	z-index: 1;
	cursor: pointer;
	text-shadow: #000 0 0 5px;
	color:#F4D03F;
}

.car_arrow:hover {
	color: #fff;
}

.car_prev {
	left: -30px;
	top: 30%;
}

.car_next { 
	right: -30px;
	top: 60%;
	text-align: right;
}

.line_index {
	background-color: #1AA184; 
	width: 50px;
	height: 1px;
	position: relative;
}

.line_index.prev { left: 15px; }
.line_index.next { right: 15px; }

/*FOOTER*/
footer{
	background-color: rgba(0,0,0,0.67);
	width: 100%;
	margin-top: 15px;
}
footer p {
	font-size: 0.55em;
	color: #fff;
	text-align: center;
	padding-top: 10px; 
	box-sizing: border-box;
	margin-bottom: 0px !important;
}

footer i{
	color: white; 
	font-size: 1.2em;
	transform: none;
	margin-right: 0.31em;
	margin-left: 0.31em;
	margin-bottom: 0.625em;
	text-align: center;
}

/*MODAL CONNEXION*/ 
::placeholder {color: rgba(255,255,255,0.55);}

.connexion{ 
	margin: 0 auto;
	background: url(img/back-modal.jpg);
	background-size: cover;
	height: 700px;
	max-width: 400px;
	border-radius: 0px; 
	border: none;
	box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.15);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.15);
	-moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.15);
}

.modal-header{border: none;}

.close{
	text-shadow: none; 
    opacity: 1;
}

.modal-header span {color: #ffffff;}

.modal-header span:hover{color: #f4d03f;}

.modal-body{
	flex-direction: column;
	margin-top: 95px;
}

.modal-body p{font-size: 1.5em;}

.modal-body span{color: #F4D03F;}

.modal-body .mb-2{
	color: #16A085;
	text-transform: uppercase;
}

.modal-body input{
	border : none;
	border-bottom: 0.5px solid #fff;
	background-color: transparent; 
	color: #fff;
}

.btn1, .btn2{
	color: #fff;
	box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.15);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.15);
	-moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.15);
}

.btn1 {
	background-color: transparent; 
	border : 1px solid #f4d03f;	
	padding : 4px 16px;	
}

.btn2 {
	background: linear-gradient(90deg, #f4d03f, #16a085);
	border : none;
	padding : 5px 44px;
}

/*MODAL QUESTION*/
.question{
	margin: 0 auto;
	max-width: 350px; 
	max-height: 620px;
}

.question .modal-body{
	margin-top: 21px;
    margin-bottom: 34px;
}

.modal-question{
	height: 280px;
	background: url(img/back-question.jpg);
	background-size: cover;
	border-radius: 0px; 
	border: none;
	box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.15);
	-webkit-box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.15);
	-moz-box-shadow: 0px 1px 1px 0px rgba(255,255,255,0.15);
}

.text p {
	color: rgba(0,0,0,0.45);
	font-size: 1.5em; 
}
	
#modalQuestion ::placeholder{color: rgba(0,0,0,0.45);}

textarea {
	color: rgba(0,0,0,0.45);
	padding-left: 8px; 
	padding-top: 8px; 
}

#modalQuestion input{
	border : none;
	border-bottom: 0.5px solid rgba(0,0,0,0.45);
    width: 76%;
}

#modalQuestion textarea{
	border: 0.5px solid rgba(0,0,0,0.25);
}

.btn3 {padding: 4px 20px 10px 20px;}

/*MODAL RECHERCHE*/
.search-modal-sm ::placeholder{color: rgba(0,0,0,0.45);}

.search-modal-sm input{border: none;}

.search-modal-sm .btn {
	background-color: #000;
	cursor: pointer;
}

 .search-modal-sm input, .search-modal-sm .btn {border-radius: 0px;}

 .search-modal-sm i {color: #F4D03F;}

 .search {
	 top: 147px;
	 margin: 0px; 
	 margin-left: 12px; 	
 }

/*MEDIA QUERIES*/

@media (min-width: 576px){ 
.back-icones {height: 157px;}

.icones {top: 109px;}

.icones img {
    width: 17px;
    height: 20px;
}

.text-1 {
    width: 103px;
    font-size: 1.58em;
}

.bloc-text-2 p {font-size: 1.4em;}
}

@media (min-width: 992px) { 

	.search {top: 303px;}

.index-header{height: 600px;}

.back-icones {height: 300px;}

.icones {top: 229px;}

.icones img {
    width: 22px;
    height: 43px;
	}

.text-1 {
    width: 221px;
    font-size: 2.8em;
    margin-top: 1.18em;
	}

.bloc-text-2 p {font-size: 2.4em;}

.bloc-text-2 {margin-left: -3.25em;}

.first-row .span-1 {
    margin-right: -1em;
    font-size: 1em;
	}

.first-row .span-2, .span-4 {
    text-transform: uppercase;
    font-size: 2.5em;
	}
}
/* @media (min-width: 1200px){.search{left: -432px;}} */

/*PAGE MAPS*/
.body-maps{
	background: url('img/back-map.jpg') fixed center;
	background-size: cover;
}

.line {
	background-color: #1AA184; 
	width: 50px; 
	height: 1px; 
}

.header a{
	color:#F4D03F;
	margin-left: 12px; 
	font-size: 0.8em;
}

.header-maps{margin-top: 10px;}

footer a {
	font-family: 'Roboto', sans-serif;
	font-size: 0.8em;
	text-decoration: none; 
	margin-top: 6px;
}

img{
	position: relative;
}

#mapArea{
	width: 100%;
	height: 650px;
	box-shadow: 0px 9px 39px 0px rgba(0,0,0,0.20);
	opacity: 0.9;
}

.localisation{
    height:545px;
    width: 100%;
    margin-top: 1.5em;
}

.lieu{
    width: 100%;
    height: 630px;
    color: black;
    margin-top: 9px;
	overflow-y: auto;
}

.noresult {
	color: #fff;
}

.donnee{
    margin: 1em;
    padding: 1em;
    border: 0.1px solid #1da1835e;
    cursor: pointer;
    color: #fff;
}

.donnee_hover {
	background-color: #1AA184; 
	box-shadow: 0px 5px 28px 0px rgba(255,255,255,0.1);
}
.donnee_hover .name {
	color: #F4D03F;
}

.donnee_click {
	background-color: #1AA184; 
	box-shadow: 0px 5px 28px 0px rgba(255,255,255,0.1);
}
.donnee_click .name {
	color: #F4D03F;
}

.name{
    font-size: 1em;
    color: #7BB664;
    font-family: 'Roboto', sans-serif;
}

.text{
	 font-family: 'Roboto', sans-serif;
	 font-size: 0.9em;
}

.caracteristiques{   
    text-align: center;
    font-size: 1.2em;
    padding-left: 9%;
    padding-top: 9%;
    width: 100%; 
}

.googlemap{
    margin: 0em;
    padding: 1.5em;
}

.distance { border-left: 0.1px solid lightgray;}

/*-- PACMAN-- */
.inner-div{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*PAGE COMPTE*/
.compte-body{
	background: url('img/back-creation.jpg');
	background-size: cover;
}

.compte-body .modal-body{
	background-color: #ffffff03;
	margin-top:125px;
}

.compte-body .modal-body p {color:#fff;}

header a {
	color:#F4D03F;
	margin-left: 12px; 
	margin-top: 10px;
	font-size: 0.8em;
}

